/* ===== GLOBAL LAYOUT FIX ===== */
*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

.page-wrapper{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}


/* ===== NAVBAR ===== */
.navbar{
    height:10vh;
    background:#0f0f0f;
    color:#fff;
    position:sticky;
    top:0;
    z-index:999;
}

.nav-container{
    max-width:1300px;
    height:100%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 20px;
    
}

/* BRAND */
.brand{
    font-size:26px;
    font-weight:700;
    letter-spacing:2px;
}
.brand span{
    color:#00aaff;
}

/* MENU */
.nav-menu ul{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;
    margin:0;
    padding:0;
}

.nav-menu a,
.nav-menu span{
    color:#fff;
    text-decoration:none;
    font-size:15px;
    cursor:pointer;
}

.nav-menu a:hover{
     color:#10e3ff;
}

/* DROPDOWN */
.dropdown{
    position:relative;
}
.dropdown-menu{
    position:absolute;
    top:130%;
    left:0;
    background:#1b1b1b;
    min-width:160px;
    display:none;
    flex-direction:column;
    border-radius:6px;
}
.dropdown:hover .dropdown-menu{
    display:flex;
}
.dropdown-menu a{
    padding:10px 15px;
    font-size:14px;
}

/* CART */
.cart{
    position:relative;
}
.cart span{
    position:absolute;
    top:-8px;
    right:-10px;
    background:red;
    color:#fff;
    font-size:11px;
    padding:2px 6px;
    border-radius:50%;
}

/* HAMBURGER */
.hamburger{
    display:none;
    font-size:22px;
    cursor:pointer;
}

/* ===== FOOTER ===== */
.footer{
    background:#0f0f0f;
    color:#aaa;
    padding:20px 20px;
    text-align:center;
}

.footer-inner h3{
    color:#fff;
    margin-bottom:10px;
}

.footer-social i{
    margin:2px 10px;
    font-size:18px;
    cursor:pointer;
}
.footer-social i:hover{
    color:#ffb703;
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){
    .nav-menu{
        position:absolute;
        top:10vh;
        right:0;
        background:#0f0f0f;
        width:100%;
        display:none;
    }
    .nav-menu.open{
        display:block;
    }
    .nav-menu ul{
        flex-direction:column;
        padding:20px 0;
    }
    .hamburger{
        display:block;
    }
}
